	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:41
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("/assets/website/fonts/clashv2ray-hub/Flaticon.eot");
  src: url("/assets/website/fonts/clashv2ray-hub/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/assets/website/fonts/clashv2ray-hub/Flaticon.woff") format("woff"),
       url("/assets/website/fonts/clashv2ray-hub/Flaticon.ttf") format("truetype"),
       url("/assets/website/fonts/clashv2ray-hub/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/assets/website/fonts/clashv2ray-hub/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-001-infographic:before { content: "\f100"; }
.flaticon-002-diagram:before { content: "\f101"; }
.flaticon-003-graph:before { content: "\f102"; }
.flaticon-004-graph:before { content: "\f103"; }
.flaticon-005-diagram:before { content: "\f104"; }
.flaticon-006-graph:before { content: "\f105"; }
.flaticon-007-graph:before { content: "\f106"; }
.flaticon-008-hierarchy:before { content: "\f107"; }
.flaticon-009-paper:before { content: "\f108"; }
.flaticon-010-graph:before { content: "\f109"; }
.flaticon-011-infographic:before { content: "\f10a"; }
.flaticon-012-stopwatch:before { content: "\f10b"; }
.flaticon-013-diagram:before { content: "\f10c"; }
.flaticon-014-graph:before { content: "\f10d"; }
.flaticon-015-flag:before { content: "\f10e"; }
.flaticon-016-graph:before { content: "\f10f"; }
.flaticon-017-diagram:before { content: "\f110"; }
.flaticon-018-network:before { content: "\f111"; }
.flaticon-019-infographic:before { content: "\f112"; }
.flaticon-020-newspaper:before { content: "\f113"; }
.flaticon-021-presentation:before { content: "\f114"; }
.flaticon-022-analytics:before { content: "\f115"; }
.flaticon-023-graph:before { content: "\f116"; }
.flaticon-024-analytics:before { content: "\f117"; }
.flaticon-025-infographic:before { content: "\f118"; }
.flaticon-026-diagram:before { content: "\f119"; }
.flaticon-027-statistics:before { content: "\f11a"; }
.flaticon-028-graph:before { content: "\f11b"; }
.flaticon-029-analytics:before { content: "\f11c"; }
.flaticon-030-graph:before { content: "\f11d"; }
.flaticon-031-infographic:before { content: "\f11e"; }
.flaticon-032-wait:before { content: "\f11f"; }
.flaticon-033-analytics:before { content: "\f120"; }
.flaticon-034-diagram:before { content: "\f121"; }
.flaticon-035-bar-chart:before { content: "\f122"; }
.flaticon-036-man:before { content: "\f123"; }
.flaticon-037-graph:before { content: "\f124"; }
.flaticon-038-graphic:before { content: "\f125"; }
.flaticon-039-graph:before { content: "\f126"; }
.flaticon-040-analytics:before { content: "\f127"; }
.flaticon-041-bar-chart:before { content: "\f128"; }
.flaticon-042-molecule:before { content: "\f129"; }
.flaticon-043-graph:before { content: "\f12a"; }
.flaticon-044-analytics:before { content: "\f12b"; }
.flaticon-045-hierarchy:before { content: "\f12c"; }
.flaticon-046-graph:before { content: "\f12d"; }
.flaticon-047-diagram:before { content: "\f12e"; }
.flaticon-048-graph:before { content: "\f12f"; }
.flaticon-049-graph:before { content: "\f130"; }
.flaticon-050-graph:before { content: "\f131"; }
.flaticon-051-graph:before { content: "\f132"; }
.flaticon-052-graph:before { content: "\f133"; }
.flaticon-053-graph:before { content: "\f134"; }
.flaticon-054-graph:before { content: "\f135"; }
.flaticon-055-graph:before { content: "\f136"; }
.flaticon-056-graph:before { content: "\f137"; }
.flaticon-057-graph:before { content: "\f138"; }
.flaticon-058-graph:before { content: "\f139"; }
.flaticon-059-graph:before { content: "\f13a"; }
.flaticon-060-graph:before { content: "\f13b"; }
.flaticon-061-graph:before { content: "\f13c"; }
.flaticon-062-diagram:before { content: "\f13d"; }